.Contact {
  margin-top: 200px;
}

@media (min-width: 400px) {
  .team-up {
    margin-bottom: 60px;
    font-family: "Rock Salt", cursive;
    font-size: 60px;
  }
}
@media (max-width: 400px) {
  .team-up {
    margin-bottom: 60px;
    font-family: "Rock Salt", cursive;
    font-size: 44px;
  }
}

@media (min-width: 450px) {
  .contact-card {
    background-color: rgba(252, 252, 252, 0.7);
    padding: 50px;
    width: 70%;
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 450px) {
  .contact-card {
    background-color: rgba(252, 252, 252, 0.7);
    padding: 15px;
    width: 90%;
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 560px) {
  .get-in-touch {
    font-family: "Handlee", cursive;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 58px;
  }
}
@media (max-width: 560px) {
  .get-in-touch {
    font-family: "Handlee", cursive;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 40px;
  }
}

.how-to-reach {
  margin-left: 20px;
  margin-right: 20px;
}

.container {
  margin-top: 55px;
  margin-bottom: 80px;
}

.contactLinks {
  font-size: 64px;
}
.contactLinks:hover {
  color: white;
}
