.Intro {
  margin-top: 150px;
  font-family: "Handlee", cursive;
  margin-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  font-size: 68px;
  margin-bottom: 25px;
}

.position {
  font-size: 35px;
  margin-bottom: 20px;
}
