.Projects {
  margin-top: 150px;
}

.projects-title {
  font-family: "Fredericka the Great", cursive;
  font-size: 48px;
  margin-bottom: 90px;
}

.carousel {
  margin-bottom: 90px;
}

.slide-info {
  background-color: black;
}

@media (min-width: 770px) {
  .c-img {
    width: 700px;
    height: 500px;
    margin: 0 auto;
  }
}
@media (max-width: 770px) {
  .c-img {
    width: 70%;
    height: 70%;
    margin: 0 auto;
  }
}

.c-caption {
  margin-top: 900px;
}

button {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
}
