.Technology {
  margin-top: 30px;
}

.techHeader {
  font-family: "Fredericka the Great", cursive;
  margin-bottom: 36px;
  font-size: 34px;
  color: #5f7086;
  font-weight: 600;
}

.tech-img {
  width: 60px;
  height: 60px;
  border-radius: 35%;
  margin-bottom: 8px;
}

@media (min-width: 1200px) {
  .tech-card {
    background-color: rgba(252, 252, 252, 0.7);
    width: 1000px;
    display: block;
    margin: 0 auto;
    padding-bottom: 25px;
    padding-top: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(95, 112, 134, 0.6);
  }
}
@media (max-width: 1200px) {
  .tech-card {
    background-color: rgba(252, 252, 252, 0.7);
    width: 85%;
    display: block;
    margin: 0 auto;
    padding-bottom: 25px;
    padding-top: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(95, 112, 134, 0.6);
  }
}
